# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variables
.env

# Ignore production build outputs
dist/
build/

# Ignore coverage reports
coverage/

# Ignore dependency directories
jspm_packages/

# Ignore temporary files
*.tmp
*.temp

# Ignore editor-specific files
.vscode/
.idea/
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore npm package-lock files
package-lock.json
yarn.lock

# Ignore miscellaneous files
*.bak
*.orig

# Ignore compiled files
*.out
*.o
*.class
*.dll
*.exe

# Ignore text files
*.txt